.container{
    margin: 1rem 3rem;
  }
  
  .title {
    margin-bottom: 5rem;
    line-height: 1.15;
    font-size: 3.5rem;
    text-align: center; 
  }
  
  .imagecontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 0%;

  }


  @media (max-width: 600px) {
    .title{
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
  
    .imagecontainer {
      display: grid;
      grid-template-columns: 2fr;
      row-gap: 2rem;
    }
  }
  

  .title {
    margin: 50px 0;
    font-weight: bold;
    font-size: 25px;
  }
  
  .products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 500px) {
    .products_container {
      grid-template-columns: 1fr;
    }
  }
  
  .product_card {
    padding: 20px;
  }
  
  .product_img {
    background-color: #fff;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .product_content h3 {
    margin: 5px 0;
  }